<% if obj.errors.any? %>
    <h2 class="text-xl font-bold text-lg text-gray-600 mb-1">Following errors prevented <%= obj.class.name.downcase %> from being saved</h2>    
    <ul class="list-disc list ml-4">    
        <% obj.errors.full_messages.each do |msg| %>
            <li class="text-red-600 text-sm"><%= msg %></li>
        <% end %> 
    </ul>
<% end %>