<div class="shadow-xl bg-white w-72 h-72 rounded flex m-auto items-center justify-center flex-col">
    <%= link_to "Show Articles", articles_path, class: "rounded px-4 py-2 shadow bg-pink-700 w-40 text-center text-white" %>
    <%= link_to "Signup/SignIn", signup_path, class: "rounded px-4 py-2 shadow bg-blue-600 mt-8 w-40 text-center text-white"  %>
</div>